########################
# editors
########################
# WebStorm
.idea
*.iws
workspace.xml
tasks.xml

########################
# customization
########################
.ignore
.playpen/
bower_components/
tests/build/
tests/run/
node_modules/
.miscDev
.jshintrc
