<!--js: ../templates/dropdownTmpl.js -->
<!-- Bootstrap button dropdown, customized for cars -->
<!--MIXIN main -->
<div class={'dropdown' + classMain() }>
  <button class="btn btn-primary dropdown-toggle" type="button" onclick={ ctrl._onclickDropdown }>
    <span>Customized cars </span>
    <span class="caret"></span>
  </button>
  {/*% , displayMenu() %*/}
</div>
<!--MIXIN menu -->
<ul class="dropdown-menu">
  <li class="dropdown-header" tabindex="-1">Featured car</li>
  <li><a onclick={ ctrl._onclickTab.bind(this, 'tesla') }>Tesla Model S</a></li>
  <li class="disabled"><a onclick={ ctrl._onclickTab.bind(this, ctrl.name) }>Hummer</a></li>
  <li class="divider" style="margin: 6px 0px;"></li>
  <li class="dropdown-header" tabindex="-1">Approved cars</li>
  <li><a onclick={ ctrl._onclickTab.bind(ctrl, 'prius plugin') }>Toyota Prius Plugin</a></li>
  <li><a onclick={ ctrl._onclickTab.bind(ctrl, 'prius v') }>Toyota Prius v</a></li>
</ul>